body {
	padding-right:0px;
	padding-left:0px;
	font-size:0.3rem;
	background:#333;
	padding-bottom:1.0rem;
	margin:0px;
	line-height:0.35rem;
	padding-top:1.0rem;
}
form {
	padding-right:0px;
	padding-left:0px;
	padding-bottom:0px;
	margin:0px;
	padding-top:0px;
}
ul {
	padding-right:0px;
	padding-left:0px;
	padding-bottom:0px;
	margin:0px;
	padding-top:0px;
}
ol {
	padding-right:0px;
	padding-left:0px;
	padding-bottom:0px;
	margin:0px;
	padding-top:0px;
}
h1 {
	padding-right:0px;
	padding-left:0px;
	padding-bottom:0px;
	margin:0px;
	padding-top:0px;
}
h2 {
	padding-right:0px;
	padding-left:0px;
	padding-bottom:0px;
	margin:0px;
	padding-top:0px;
}
h3 {
	padding-right:0px;
	padding-left:0px;
	padding-bottom:0px;
	margin:0px;
	padding-top:0px;
}
h4 {
	padding-right:0px;
	padding-left:0px;
	padding-bottom:0px;
	margin:0px;
	padding-top:0px;
}
h5 {
	padding-right:0px;
	padding-left:0px;
	padding-bottom:0px;
	margin:0px;
	padding-top:0px;
}
h6 {
	padding-right:0px;
	padding-left:0px;
	padding-bottom:0px;
	margin:0px;
	padding-top:0px;
}
p {
	padding-right:0px;
	padding-left:0px;
	padding-bottom:0px;
	margin:0px;
	padding-top:0px;
}
input {
	font-size:0.3rem;
}
textarea {
	font-size:0.3rem;
}
select {
	font-size:0.3rem;
}
button {
	font-size:0.3rem;
}
img {
	border-top-style:none;
	border-right-style:none;
	border-left-style:none;
	border-bottom-style:none;
}
a{
	color:#999;
	text-decoration:underline;
}

#box {
	border-right:#666 5px solid;
	border-top:#666 5px solid;
	background:#ccc;
	margin:0px auto;
	border-left:#666 5px solid;
	width:15.0rem;
	border-bottom:#666 5px solid;
}
#box H4 {
	padding-right:0.25rem;
	padding-left:0.25rem;
	font-size:0.35rem;
	background:#999;
	padding-bottom:0px;
	color:#fff;
	padding-top:0.2rem;
	height:0.55rem;
}
#box .content {
	padding-right:0.5rem;
	padding-left:0.5rem;
	padding-bottom:0.5rem;
	padding-top:0.5rem;
}
address {
	display:block;
	margin:0.5rem auto 0px;
	width:10.0rem;
}
#myPoint {
	padding-right:0px;
	padding-left:0px;
	padding-bottom:0.375rem;
	overflow:hidden;
	padding-top:0px;
	border-bottom:#ddd 1px solid;
	height:1.25rem;
}
#myPoint span {
	float:left;
	line-height:1.6rem;
	font-family:Tahoma;
}
#myPoint span big {
	font-weight:bold;
	font-size:1.5rem;
}
#myPoint span small {
	font-size:0.75rem;
}
#myPoint div {
	font-size:0.35rem;
	float:left;
	margin:0.25rem 0px 0px 0.25rem;
	height:1.0rem;
}
#myPoint div img {
	vertical-align:middle;
	margin-right:0.125rem
}
#doPoint p{
	padding-right:0px;
	padding-left:0px;
	padding-bottom:0.25rem;
	padding-top:0.25rem;
}
#doPoint tr td {
	padding-right:0.125rem;
	padding-left:0.125rem;
	padding-bottom:0.075rem;
	padding-top:0.075rem;
}
#doPoint tr td img {
	margin-top:0.125rem;
}
#doPoint tr td strong {
	font-size:0.35rem;
	color:#f00;
}
#doPoint span {
	display:block;background:url(../images/star_small.gif) no-repeat 2px 0px;
	width:6.0rem;
	height:0.8rem;
}
#doPoint span small {
	font-size:0px;
	float:left;
	overflow:hidden;
	width:0.3rem;
	cursor:pointer;
	padding-top:0.5rem;
	height:0px;
}
#doPoint .star10 {
	background:url(../images/star_small.gif) no-repeat 2px 0px
}
#doPoint .star9 {
	background:url(../images/star_small.gif) no-repeat 2px -20px
}
#doPoint .star8 {
	background:url(../images/star_small.gif) no-repeat 2px -40px
}
#doPoint .star7 {
	background:url(../images/star_small.gif) no-repeat 2px -60px
}
#doPoint .star6 {
	background:url(../images/star_small.gif) no-repeat 2px -80px
}
#doPoint .star5 {
	background:url(../images/star_small.gif) no-repeat 2px -100px
}
#doPoint .star4 {
	background:url(../images/star_small.gif) no-repeat 2px -120px
}
#doPoint .star3 {
	background:url(../images/star_small.gif) no-repeat 2px -140px
}
#doPoint .star2 {
	background:url(../images/star_small.gif) no-repeat 2px -160px
}
#doPoint .star1 {
	background:url(../images/star_small.gif) no-repeat 2px -180px
}
form{
	margin:0.375rem 0px 0px;
}
form label {
	display:block;
	margin:0.125rem 0px;
	font-size:0.8rem;
}
form textarea {
	width:8.75rem;
	min-height:0.8rem;
	height:auto;
	line-height: 0.8rem;
}